{
  "extends": "standard",
  "globals": {
    "React": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-multiple-empty-lines": [2, { "max": 2 }],
    "comma-dangle": [0],
    "jsx-quotes": ["error", "prefer-double"]
  },
  "plugins": [
    "react"
  ]
}
