/* Component styling */

.active {
  background-color: #333;
}

.answer-list {
  list-style: none;
  margin: 20px 0;
}

.answer {
  margin: 0;
  padding: 0;
}

.answer-button:focus {
  background-color: #333;
}

.instruction {
  font-weight: 600;
}

.progress,
.progress-bar {
  height:        15px;
  border-radius: 10px;
}

.progress-bar {
  [dir="rtl"] & {
    float: right;
  }
}
